{erl_opts,    [debug_info]}. %, warnings_as_errors]}.
{xref_checks, [undefined_function_calls,undefined_functions,locals_not_used,
               deprecated_function_calls,deprecated_functions]}.

{cover_enabled,       true}.
{cover_print_enabled, true}.

{deps, [{lejson, "0.8.0"},
        {elli, "3.3.0"}]}.
